<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
  <title>Account Settings</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="main">
        <div class="settingstitle">
            Delete your account.
        </div>
        <div class="deletecontinue">
            Enter your password to delete your account permanently:
            <form method = "post" action="/delete/">
                <input class="field" type="password" name="password" placeholder="Password" required>
                <input type="submit" class="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>