<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
  <title>Account Settings</title>
</head>

<body>
<nav class="flex">
        <div class="username">
            <a href=/profile-mod/>
                <h1><i class="fa fa-user"></i> <span>{{username}}</span></h1>
            </a>
        </div>
        <div class="middleLogo">
            <a href=/timeline/>
            <img src="{% static "img/ml-mod.png" %}" alt="logo" style= "height: 40px;margin-top: 15px;box-sizing: border-box;">
            </a>
        </div>
        <div class="settings flex">
            <div class="search">
                <input placeholder="Search &#xf002;">
            </div>
            <div class="dropdown">
                <!-- trigger button -->
                <!-- <button><i class="fa fa-cog"></button> -->
                <input type="image" src="{% static "img/settingsicon.png" %}" alt="Settings">
                <!-- dropdown menu -->
                <ul class="dropdown-menu">
                    <li><a href=/myprofile/>My Profile</a></li>
                    <li><a href=/account/>Account</a></li>
                    <li><a href=/general/>General</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="settingstitle">
            Delete your account.
        </div>
        <div class="deletecontinue">
            Enter your password to delete your account permanently:
            <div class="enterpassword">
                <input type="textarea">
                <input type="button" value="DELETE ACCOUNT PERMANENTLY">
                <input type="button" value="Cancel">
            </div>
        </div>
    </div>
</body>
</html>