<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
  <title>Account Settings</title>
</head>

<body>
<nav class="flex">
        <div class="username">
            <a href=/profile-mod/>
                <h1><i class="fa fa-user"></i> <span>{{username}}</span></h1>
            </a>
        </div>
        <div class="middleLogo">
            <a href=/timeline/>
            <img src="{% static "img/ml-mod.png" %}" alt="logo" style= "height: 40px;margin-top: 15px;box-sizing: border-box;">
            </a>
        </div>
        <div class="settings flex">
            <div class="search">
                <input placeholder="Search &#xf002;">
            </div>
            <div class="dropdown">
                <!-- trigger button -->
                <!-- <button><i class="fa fa-cog"></button> -->
                <input type="image" src="{% static "img/settingsicon.png" %}" alt="Settings">
                <!-- dropdown menu -->
                <ul class="dropdown-menu">
                    <li><a href=/myprofile/>My Profile</a></li>
                    <li><a href=/account/>Account</a></li>
                    <li><a href=/general/>General</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="settingstitle">
            Account Settings
        </div>
        <div class="general">
        </br>
            <ul>
                <li><span>Name: {{first_name}} {{last_name}}</span><span class="edit">Edit</span></li>
                <li><span>Username: {{username}}</span><span class="edit">Edit</span></li>
                <li><span>Email: {{email}}</span><span class="edit">Edit</span></li>
                <li><span>Password: Changed - days ago</span><span class="edit">Edit</span></li>
            </ul>
            <div class="deleteacc">
                <a href=/delete/>Click here to delete your account.</a>
            </div>
        </div>
    </div>
</body>
</html>