{% extends "friends-base.html" %}
{% load staticfiles %}
{% block follower%} is-active {% endblock %}
{% block loadPeople %}
<a class="thumb" href="/profile-mod/">
	<div style="background-image: url({% static "img/preska.jpg" %})">
		<div class="overlay">
			<img src="{% static "img/overlay.png" %}">
			<p>{{bio}}I love Frouble.</p>
			<span class="name">Preska</span>
		</div>
	</div>
</a>
<a class="thumb" href="/profile-mod/">
	<div style="background-image: url({% static "img/samara.jpg" %})">
		<div class="overlay">
			<img src="{% static "img/overlay.png" %}">
			<p>{{bio}}I love Frouble.</p>
			<span class="name">Samara</span>
		</div>
	</div>
</a>
<a class="thumb" href="/profile-mod/">
	<div style="background-image: url({% static "img/zak.jpg" %})">
		<div class="overlay">
			<img src="{% static "img/overlay.png" %}">
			<p>{{bio}}I love Frouble.</p>
			<span class="name">Zac</span>
		</div>
	</div>
</a>
<a class="thumb" href="/profile-mod/">
	<div style="background-image: url({% static "img/aneesh.jpg" %})">
		<div class="overlay">
			<img src="{% static "img/overlay.png" %}">
			<p>{{bio}}I love Frouble.</p>
			<span class="name">Aneesh</span>
		</div>
	</div>
</a>
{% endblock %}