<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
	<link rel="icon" href="{% static "image/x-icon" %}" type=""/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="shortcut icon" href= "{% static "image/x-icon" %}"type=/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT_8Pt--iQ8S1z5cYol9cNbrsnA8Sirys&libraries=places"></script>
</head>