<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% include 'head.html' %}
<style>
    #more-memories {
        margin: 10px 0 30px;
    }
    .location-page .post > a {
        width: 100%;
    }
    .location-page .sidebar {
        width: 40%;
        padding: 20px;
        margin-top: 50px; 
        box-sizing: border-box;
    }
        .location-page .sidebar .map {
            width: 100%;
            height: 400px;
        }
</style>
<body>
    {% include 'nav.html' %}
    <div class="gridContainer memory flex location-page">                         
        <div class="memory-body">
            <h2 id="more-memories">Memories about {{location}}</h2>    
            {% with name=memory.name%}
            {% for memory, authorProfileImage, authorProfile, aa in link reversed %}
                <div class="memory">
                    <div class="author-info">
                        <a href=/profile-mod/{{aa.id}}>
                            <img src="{{authorProfileImage|cut:'memorylane'}}" class="author-image">
                            <p class="author-name">{{memory.author}}</p>
                        </a>
                    </div>
                    <div class="post flex">
                        <a href=/post/{{memory.id}}>
                        <div class="panorama" style="background-image: url({{memory.image|cut:'memorylane'}})">
                            <div class="overlay">
                                <p>{{memory.description|truncatechars:250}}</p>
                            </div>
                            <div class="title flex">
                                <h2>{{memory.name}}</h2><h2>{{memory.date_created}}</h2>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% empty %}
                <h2>No memories at this location exist yet.</h2>
            {% endfor %}
            {% endwith %}
        </div>
        <div id="sidebar" class="sidebar flex sticky">
            <div class="map" style="background-image:url('https://maps.googleapis.com/maps/api/staticmap?center={{location}}&zoom=10&size=400x400&key=AIzaSyBT_8Pt--iQ8S1z5cYol9cNbrsnA8Sirys')">
                <div class="location">
                    <h2><i class="fa fa-map-marker"></i>{{location}}</h2>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/googlemaps.js" %}"></script>
    <script>
    $(function(){ // document ready
        if (!!$('.sticky').offset()) { // make sure ".sticky" element exists
            var stickyTop = $('.sticky').offset().top; // returns number
            $(window).resize(function() {
                stickyTop = $('.sticky').offset().top;
            });
            $(window).scroll(function(){ // scroll event
                var windowTop = $(window).scrollTop(); // returns number 
                if (stickyTop < windowTop-$('.memory-body').scrollTop()+75 ){
                    $('.sticky').css({ position: 'fixed', top: '75px', width: '40%', right: '0', "margin-top": '0'});
                }
                else {
                    $('.sticky').css({ position: 'static', width: '40%', "margin-top": '50px'});
                }
            });
        }
    })
    </script>
</body>
</html>
