<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}
{% include 'head.html' %}
	<title>Log In - Memory Lane</title>
	
<body>
	<a href="signup" class="signup">
		<div class="button">Sign Up</div>
	</a>
	<div class="login">
		<img src="{% static "img/logo.png" %}" alt="Memory Lane" title="Memory Lane" class="logo">
		<span>You had to be there.</span>
		<div class="group loginContainer">
			<form method="post" action=".">
				<input class="field" type="email" name="email" placeholder="Email" {{ forms.email }} required>
				<input class="field" type="password" name="password" placeholder="Password" {{ forms.password }} required>
				<input type="submit" class="submit" value="Log in" required>
			</form>
		</div>
		<div class="forgot">
			<a href="/password-reset">Forgot Your Password?</a>
		</div>
	</div>
</body>
</html>