{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% include 'head.html' %}
<head>
	<title>Password Reset</title>
</head>
<body>
	{% include 'nav.html' %}
	<div class="login">
		<img src="{% static "img/logo.png" %}" alt="Memory Lane" title="Memory Lane" class="logo">
		<span>You had to be there.</span>
		<div class="group loginContainer">
			<h1>Password Reset</h1>
			<p>Please confirm your old password and your new password</p>
			<form method = "post" action="/password-reset/">
				<input class="field" type="password" name="oldPassword" placeholder="Current Password" required>
				<input class="field" type="password" name="oldPasswordCheck" placeholder="Current Password (again)" required>
				<input class="field" type="password" name="newPassword" placeholder="New Password" required>
				<input class="field" type="password" name="newPasswordCheck" placeholder="New Password (again)" required>
				<input type="submit" class="submit" value="Submit">
			</form>
		</div>
	</div>
</body>
</html>