<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
    <!--script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -33, lng: 151.196},
        zoom: 15
      });

      var infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);

      service.getDetails({
        placeId: 'ChIJN1t_tDeuEmsRUsoyG83frY4'
      }, function(place, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
          });
        }
      });
    }

    </script-->
    <script>
     var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 8,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
  }

  function codeAddress() {

    geocoder.geocode( {{memory.location}}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

    </script>
</head>

<body onload="initialize()">
    <nav class="flex">
        <div class="username">
            <a href="/profile-mod/">
                <h1><i class="fa fa-user"></i> <span>{{username}}</span></h1>
            </a>
        </div>
        <div class="middleLogo">
            <a href="/timeline/">
                <img src="{% static "img/ml-mod.png" %}" alt="logo" id="middleLogo">
            </a>
        </div>
        <div class="settings flex">
            <div class="search">
                <input placeholder="Search &#xf002;">
            </div>
            <a href="/settings/"><i class="fa fa-cog"></i></a>
        </div>
    </nav>
    <!-- div to hold all elements of a single timeline post -->
    <div class="single-post">
        <!-- div to hold panaroma shot and top bar(title and date) -->
    <div class = "panoramaElement">
        <div class="panoramaHeader">
            <p class="panoramaLeft">{{memory.name}}</p>
            <p class="panoramaRight">{{memory.date_created}}</p>
    </div>
        <img src="{{image}}" class="panoramaResize">        
        <div class="content">
            <p class="textRemember">I remember...</p>
            <p class="textBody">
            {{memory.description}}
            </p>
        </div>
            <div id="sidebar" class="flex sticky">
                <div class="map" id="map">
                    <div id="address">{{memory.location}}</div>
                    <div class="location">
                        {% load easy_maps_tags %}
                        <!-- Default map with 300x400 dimensions -->
                        {% easy_map '{{memory.location}}' 300 400 %}
                        {% load easy_maps_tags cache %}
                        {% cache 600 my_map firm.address %}
                            {% easy_map firm.address 300 400 %}
                        {% endcache %}
                        <h2><i class="fa fa-map-marker"></i>{{memory.location}}</h2>
                    </div>
                </div>
                <p class="textWith">with...</p>
                <div class="group flex friends">
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/preska.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Preska</span></div></a>
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/samara.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Samara</span></div></a>
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/zak.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Zak</span></div></a>
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/aneesh.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Aneesh</span></div></a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC63gKI9GdSMMPoXZq-hGwAv82CDIAfD8M&signed_in=true&libraries=places&callback=initMap" async defer></script>
    <script src="jquery-1.7.1.min.js"></script>

    <script>
        //$(function(){ // document ready
        if (!!$('.sticky').offset()) { // make sure ".sticky" element exists
        var stickyTop = $('.sticky').offset().top; // returns number 
        $(window).scroll(function(){ // scroll event
        var windowTop = $(window).scrollTop(); // returns number 
        if (stickyTop < windowTop-240){
            $('.sticky').css({ position: 'fixed', top: '0', width: '34.5%', right: '6.95%'});
        }else{
            $('.sticky').css({ position: 'static', width: '40%'});
            }
        });}
        });
    </script>
</body>
</html>