<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% include 'head.html' %}
<body>
    {% include 'nav.html' %}
    <!-- div to hold all elements of a single timeline post -->
    <div class="single-post">
        <!-- div to hold panaroma shot and top bar(title and date) -->
        <div class = "panoramaElement">
            <div class="panoramaHeader">
                <p class="panoramaLeft">{{memory.name}}</p>
                <p class="panoramaRight">{{memory.date_created}}</p>
            </div>
            <img src="{{image}}" class="panoramaResize">
            <div class="memory flex">
                <div class="memory-body">        
                    <div class="content">
                        <p class="textRemember">I remember...</p>
                        <p class="textBody">
                        {{memory.description}}
                        </p>                        
                    </div>
                    <div class="location-memory">
                        <h2> More memories about {{memory.location}}</h1>
                        {% for memory in memories reversed %}
                            {% ifequal memory.location location %}
                            <div class="memory">
                            <!-- div to hold proPic, as well as present name under picture -->
                                <div class="author-info" >
                                    <a href=/profile-mod/>
                                        <img src="{% static "img/matthew.jpg" %}" class="author-image">
                                        <p class="author-name">{{first_name}}</p>
                                        <p class="author-name">Author</p>
                                    </a>
                                </div>
                                <div class="post flex">
                                    <a href=/post/1><div class="panorama" style="background-image: {% static memory.image %}"> 
                                        <div class="overlay">
                                            <p>{{memory.description}}</p>
                                        </div>
                                            <div class="title flex">
                                                <h2>{{memory.name}}</h2><h2>{{memory.date_created}}</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="map" id="map">
                                        <div class="location">
                                            <h2><i class="fa fa-map-marker"></i>{{memory.location}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endifequal %}
                            <!--background-color: #fff;
                                border-radius: 6px;
                                display: inline-block;
                                margin: -45px 2px 0 -3px;
                                padding: 3px;
                                position: relative;
                                vertical-align: bottom;
                                z-index: 1-->
                        {% endfor %}
                    </div>
                </div>
                <div id="sidebar" class="flex sticky">
                    <div class="map" id="map"></div>
                    <a href=/location/>
                        <div class="location">
                            <h2><i class="fa fa-map-marker"></i>{{memory.location}}</h2>
                        </div>
                    </a>
                    <p class="textWith">with...</p>
                    <div class="group flex friends">
                        <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/preska.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Preska</span></div></a>
                        <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/samara.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Samara</span></div></a>
                        <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/zak.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Zak</span></div></a>
                        <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/aneesh.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Aneesh</span></div></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>