<!DOCTYPE html>
<html lang="en">

{% load staticfiles%}
{% include 'head.html' %}

<body>
<nav class="flex">
        <div class="username">
            <a href="/profile-mod/">
                <h1><i class="fa fa-user"></i> <span>matthew_ong</span></h1>
            </a>
        </div>
        <div class="middleLogo">
            <a href="/timeline/">
                <img src="{% static "img/ml-mod.png" %}" alt="logo" id="middleLogo">
            </a>
        </div>
        <div class="settings flex">
            <div class="search">
                <input placeholder="Search &#xf002;">
            </div>
            <a href="/settings/"><i class="fa fa-cog"></i></a>
        </div>
    </nav>
    <!-- div to hold all elements of a single timeline post -->
    <div class="single-post">
        <!-- div to hold panaroma shot and top bar(title and date) -->
    <div class = "panoramaElement">
        <div class="panoramaHeader">
            <p class="panoramaLeft">{{memory.name}}</p>
            <p class="panoramaRight">{{memory.date_created}}</p>
    </div>
        <img src="{{image}}" class="panoramaResize">        
        <div class="content">
            <p class="textRemember">I remember...</p>
            <p class="textBody">
            {{memory.description}}
            </p>
        </div>
            <div id="sidebar" class="flex sticky">
                <div class="map" style="background-image:url({% static "img/map2.png" %})">
                    <div class="location">
                        <h2><i class="fa fa-map-marker"></i>Chicago, IL</h2>
                    </div>
                </div>
                <p class="textWith">with...</p>
                <div class="group flex friends">
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/preska.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Preska</span></div></a>
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/samara.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Samara</span></div></a>
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/zak.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Zak</span></div></a>
                    <a class="thumb" href="/profile-mod/"><div style="background-image: url({% static "img/aneesh.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Aneesh</span></div></a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <script>
      $(document).ready(function(){
                var submitIcon = $('.searchbox-icon');
                var inputBox = $('.searchbox-input');
                var searchBox = $('.searchbox');
                var isOpen = false;
                submitIcon.click(function(){
                    if(isOpen == false){
                        searchBox.addClass('searchbox-open');
                        inputBox.focus();
                        isOpen = true;
                    } else {
                        searchBox.removeClass('searchbox-open');
                        inputBox.focusout();
                        isOpen = false;
                    }
                });  
                submitIcon.mouseup(function(){
                        return false;
                    });
                searchBox.mouseup(function(){
                        return false;
                    });
                $(document).mouseup(function(){
                        if(isOpen == true){
                            $('.searchbox-icon').css('display','block');
                            submitIcon.click();
                        }
                    });
            });
                function buttonUp(){
                    var inputVal = $('.searchbox-input').val();
                    inputVal = $.trim(inputVal).length;
                    if( inputVal !== 0){
                        $('.searchbox-icon').css('display','none');
                    } else {
                        $('.searchbox-input').val('');
                        $('.searchbox-icon').css('display','block');
                    }
                }
    </script>
    <script src="jquery-1.7.1.min.js"></script>
    <script>
            $(function(){ // document ready

          if (!!$('.sticky').offset()) { // make sure ".sticky" element exists

            var stickyTop = $('.sticky').offset().top; // returns number 

            $(window).scroll(function(){ // scroll event

              var windowTop = $(window).scrollTop(); // returns number 

              if (stickyTop < windowTop-240){
                $('.sticky').css({ position: 'fixed', top: '0', width: '34.5%', right: '6.95%'});
              }
              else {
                $('.sticky').css({ position: 'static', width: '40%'});
              }

            });

          }

        });
    </script>
</body>
</html>