<!DOCTYPE html>
<html lang="en" class="graybg">

{% load staticfiles %}
{% include 'head.html' %}
<head>
	<meta charset="UTF-8">
	<title>Profile - Memory Lane</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<script>
		function changeText(){
			document.getElementById("original").style.display="none";
			document.getElementById("editBio").style.display="block";
		}
		function save(){
			document.getElementById("original").style.display="block";
			document.getElementById("editBio").style.display="none";
			var newBio = document.getElementById("bioTextArea").value;
			document.getElementById("currentBio").innerHTML = newBio;
		}
		function cancel(){
			document.getElementById("original").style.display="block";
			document.getElementById("editBio").style.display="none";
		}
	</script>
</head>
<body>
	<nav class="flex">
		<div class="username">
			<a href=/profile-mod/>
				<h1><i class="fa fa-user"></i> <span>matthew_ong</span></h1>
			</a>
		</div>
		<div class="middleLogo">
			<a href=/timeline/>
				<img src="{% static "img/ml-mod.png" %}" alt="logo" id="middleLogo">
			</a>
		</div>
		<div class="settings flex">
			<div class="search">
	  			<input placeholder="Search &#xf002;">
			</div>
			<a href="/settings/"><i class="fa fa-cog"></i></a>
		</div>
	</nav>
	<div class="gridContainer flex profile">
		<div class="main">
			<div class="profile-info flex">
				<div class="profile-image" style="background-image:url({% static "img/matthew.jpg" %})"></div>
				<div class="profile-header">
					<a href=/profile-mod/><h1>Matthew Ong</h1></a><br/>
					<a href=/newpost/><h3>@matthew_ong</h3></a>
					
					<div id="bio" class="bio">
						<div id="original" style.display="block">
							<p id="currentBio">{{bio}}</p>
							<a href="javascript:changeText();"><i class="fa fa-pencil"></i></a>
						</div>
						<div id="editBio" style="display:none">
							<form action="newBio" method="post">
							 	{% csrf_token %}
    							{{ form }}
								<textarea id="bioTextArea" rows="4" cols="25" name="newBio">{{bio}}</textarea>
								<input type="button" value="Save" onclick="save()">
								<input type="button" value="Cancel" onclick="cancel()">
							</form>
						</div>
					</div>
				</div>
				<div class="add-new-memory">
					<a href=/newpost/><i class="fa fa-camera"></i></a>
				</div>
			</div>
			<div class="post flex">
				<a href=/post/1><div class="panorama" style="background-image: url({% static "img/panorama2.jpg" %})">
					<div class="overlay">
						<p>Donec in mollis ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sed venenatis nisi. Cras quis nibh in tortor finibus hendrerit in vel arcu... </p>
					</div>
					<div class="title flex">
						<h2>Lorem Ipsum</h2><h2>September 26th, 2015</h2>
					</div>
				</div></a>
				<div class="map" style="background-image:url({% static "img/map3.png" %})">
					<div class="location">
						<h2><i class="fa fa-globe"></i>Tokyo, JP</h2>
					</div>
				</div>
			</div>
			<div class="post flex">
				<a href=/post/1><div class="panorama" style="background-image: url({% static "img/panorama3.jpg" %})">
					<div class="overlay">
						<p>In hac habitasse platea dictumst. Nullam cursus pharetra eros, ut vulputate eros laoreet sed. Morbi nulla mi, varius at cursus in, egestas non mauris. Cras libero ex, mattis ac imperdiet a, pellentesque at magna. Mauris vitae leo mauris. Sed sit amet varius ligula, at ornare ligula...</p>
					</div>
					<div class="title flex">
						<h2>Dolor Sit Amet</h2><h2>Septembter 27th, 2015</h2>
					</div>
				</div></a>
				<div class="map" style="background-image:url({% static "img/map2.png" %})">
					<div class="location">
						<h2><i class="fa fa-map-marker"></i>Chicago, IL</h2>
					</div>
				</div>
			</div>
			<div class="post flex">
				<a href=/post/1><div class="panorama" style="background-image: url({% static "img/panorama4.jpg" %})">
					<div class="overlay">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas minima molestiae consectetur labore, blanditiis deserunt nemo dignissimos ad architecto ipsum sint fugit alias consequatur voluptatem minus distinctio, quisquam numquam...</p>
					</div>
					<div class="title flex">
						<h2>Libero Vero Quos</h2><h2>October 2nd, 2015</h2>
					</div>
				</div></a>
				<div class="map">
					<div class="location">
						<h2><i class="fa fa-map-marker"></i>New York, NY</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar">
			<div class="about widget">
				<h1>About</h1>
				<div class="flex">
					<div class="about-basics flex">
						<div>
							<h3><i class="fa fa-map-marker"></i> Lives in:</h3>
							<span>Urbana-Champaign</span>
						</div>
						<div>
							<h3><i class="fa fa-clock-o"></i> Joined:</h3>
							<span>8/16/2015</span>
						</div>
					</div>
				</div>
				<hr>
				<div class="about-passage">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora animi dolorem fugiat, similique velit eligendi atque, earum perferendis corporis quibusdam! Nisi animi, ut reiciendis explicabo aperiam sed porro nesciunt, maxime.</p>
				</div>
			</div>
			<div class="widget">
				<a href=/friends/><h2>Friends</h2></a>
				<div class="group flex friends">
					<a class="thumb" href><div style="background-image: url({% static "img/preska.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Preska</span></div></a>
					<a class="thumb" href><div style="background-image: url({% static "img/samara.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Samara</span></div></a>
					<a class="thumb" href><div style="background-image: url({% static "img/zak.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Zak</span></div></a>
					<a class="thumb" href><div style="background-image: url({% static "img/aneesh.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Aneesh</span></div></a>
					<a class="thumb" href><div style="background-image: url({% static "img/eric.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Eric</span></div></a>
					<a class="thumb" href><div style="background-image: url({% static "img/marianne.jpg" %})"><img class="overlay" src="{% static "img/overlay.png" %}"><span class="name">Marianne</span></div></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>