<!DOCTYPE html>
<html lang="en">

{% load staticfiles%}
{% include 'head.html' %}
<head>
	<title>MemoryLane</title>
</head>
	
<body>
	<a href="/login" class="signup">
		<div class="button">Log In</div>
	</a>
	<div class="login">
		<img src="{% static "img/logo.png" %}" alt="Memory Lane" title="Memory Lane" class="logo">
		<span>You had to be there.</span>
		<div class="group loginContainer">
			{% if form.errors %}
        	<p>Errors, errors, errors.</p>
    		{% endif %}
			<form method="post" action="/signup/">
				<input class="field" type="email" name="email" placeholder="Email" required>
				<input class="field" type="password" name="password" placeholder="Password" required>
				<input class="field" type="text" name="username" placeholder="User Name" required>
				<input type="submit" class="submit" value="Sign Up">
			</form>
        
		</div>
	</div>
</body>
</html>