<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}

<body>
	<nav class="flex">
		<div class="username">
			<a href=/profile-mod/>
				<h1><i class="fa fa-user"></i> <span>{{username}}</span></h1>
			</a>
		</div>
		<div class="middleLogo">
			<a href=/timeline/>
				<img src="{% static "img/ml-mod.png" %}" alt="logo" style= "height: 40px;margin-top: 15px;box-sizing: border-box;">
			</a>
		</div>
		<div class="settings flex">
			<div class="search">
	  			<input placeholder="Search &#xf002;">
			</div>
			<a href=/settings/><i class="fa fa-cog"></i></a>
		</div>
	</nav>
		<!-- div to hold all elements of a single timeline post -->
	<div class="gridContainer flex">
		<div class="main">
		{% for user in users %}
			<div class="memory">
			<!-- div to hold proPic, as well as present name under picture -->
				<div class="author-info" >
					<a href=/profile-mod/>
						<img src="{% static "img/matthew.jpg" %}" class="author-image">
						<p class="author-name">{{first_name}}</p>
					</a>
				</div>
				<div class="post flex">
					<a href=/post/1><div class="panorama" style="background-image: url({% static "img/panorama.jpg"%})">
						<div class="overlay">
							<p>{{description}}</p>
						</div>
							<div class="title flex">
								<h2>{{name}}</h2><h2>{{date_created}}</h2>
							</div>
						</div></a>
					<div class="map" style="background-image:url({% static "img/map3.png" %})">
						<div class="location">
							<h2><i class="fa fa-map-marker"></i>{{location}}</h2>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
</body>
</html>