<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% include 'head.html' %}
<head>
	<title>{{username}}'s Timeline</title>
</head>

<body>
	{% include 'nav.html' %}
		<!-- div to hold all elements of a single timeline post -->
	<div class="gridContainer flex">
		<div class="main">
		{% for memory in memories reversed %}
			<div class="memory">
				<div class="author-info">
					<a href=/profile-mod/>
						<img src="{% static "img/matthew.jpg" %}" class="author-image">
						<p class="author-name">{{memory.author}}</p>
					</a>
				</div>
				<div class="post flex">
					<a href=/post/{{memory.id}}>
					<div class="panorama" style="background-image: url({{memory.image|cut:'memorylane'}})">
						<div class="overlay">
							<p>{{memory.description|truncatechars:250}}</p>
						</div>
						<div class="title flex">
							<h2>{{memory.name}}</h2><h2>{{memory.date_created}}</h2>
						</div>
					</div>
					</a>
					<div class="map" style="background-image:url('https://maps.googleapis.com/maps/api/staticmap?center={{memory.location}}&zoom=10&size=400x400&key=AIzaSyBT_8Pt--iQ8S1z5cYol9cNbrsnA8Sirys')">
						<div class="location">
							<h2><i class="fa fa-map-marker"></i>{{memory.location}}</h2>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	<script src="{% static "js/googlemaps.js" %}"></script>
</body>
</html>